.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    margin: 30px;
}

.grid-canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas {
    border: 1px solid black
}